
<!--<form class="example-form">
  <div class="example-container">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Input">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</form>-->

<div>
  {{name}}
</div>